body {
	font-family: "Roboto";
}

.nav-item {
	font-size: 16px; /*1*/
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
}

.sub-item{
	font-size: 14px; /*2*/
	line-height: 16px;
	font-weight: normal;
	color: #000000;
}

.sub-item:first-child {
	font-weight: bold;
}

.user-open,
.basket-open {
	font-size: 14px; /*2*/
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.field {
	font-size: 14px; /*2*/
	line-height: 24px;
	font-weight: normal;
	color: #999999;
}

.user-link {
	font-size: 14px; /*2*/
	line-height: 24px;
	font-weight: normal;
	color: #323232;
}

.button-enter {
	font-size: 18px; /*3*/
	line-height: 24px;
	font-weight: bold;
	color: #fefefe;
}

.call-time-period {
	font-size: 14px; /*2*/
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
}

.call-time-phone {
	font-size: 22px; /*4*/
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
}

.promo-title {
	font-size: 60px; /*5*/
	line-height: 60.35px;
	font-weight: bold;
	color: #ffffff;
}

.button-choose-set {
	font-size: 32px; /*6*/
	line-height: 44px;
	font-weight: bold;
	color: #ffffff;
}

.bonus-title {
	font-size: 35px; /*7*/
	line-height: 41px;
	font-weight: bold;
	color: #ffffff;
}

.bonus-description {
	font-size: 18px; /*3*/
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;
}

.bonus-button {
	font-size: 18px; /*3*/
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
}

.product-price {
	font-size: 45px; /*8*/
	line-height: 45px;
	font-weight: bold;
	color: #ffffff;
}

.product-title {
	font-size: 16px; /*1*/
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
}

.features-slogan {
	font-size: 24px; /*9*/
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}

.features-description {
	font-size: 16px; /*1*/
	line-height: 22px;
	font-weight: normal;
	color: #323232;
}

.blog-title {
	font-size: 16px; /*1*/
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.blog-link {
	font-size: 24px; /*9*/
	line-height: 30px;
	font-weight: bold;
	color: #323232;
}

.subscribe-description {
	font-size: 16px; /*1*/
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;
}

.button-subscribe {
	font-size: 18px; /*3*/
	line-height: 24px;
	font-weight: bold;
	color: #fefefe;
}

.contacts-title {
	font-size: 14px; /*2*/
	line-height: 20px;
	font-weight: normal;
	color: #323232;
}

.contacts-adress {
	font-size: 18px; /*3*/
	line-height: 24px;
	font-weight: bold;
	color: #323232;
}

.contacts-phone {
	font-size: 18px; /*3*/
	line-height: 22px;
	font-weight: bold;
	color: #323232;
}

.contacts-period {
	font-size: 14px; /*2*/
	line-height: 22px;
	font-weight: normal;
	color: #323232;
}

.useful-link {
	font-size: 13px; /*10*/
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.developer-company {
	font-size: 12px; /*11*/
	line-height: 18px;
	font-weight: normal;
	color: #fefefe;
}

.bread-crumbs {
	font-size: 14px; /*2*/
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
}

.page-title {
	font-size: 35px; /*7*/
	line-height: 41px;
	font-weight: bold;
	color: #ffffff;
}

.basket-item-link,
.basket-quantity,
.basket-price {
	font-size: 13px; /*10*/
	line-height: 16px;
	font-weight: normal;
	color: #323232;
}


.alt-color {
	font-size: 13px; /*10*/
	line-height: 16px;
	font-weight: normal;
	color: #999999;
}

.basket-total {
	font-size: 15px; /*12*/
	line-height: 18px;
	font-weight: bold;
	color: #323232;
}

.button-confirm {
	font-size: 18px; /*3*/
	line-height: 24px;
	font-weight: bold;
	color: #fefefe;
}

.filter-title {
	font-size: 14px; /*2*/
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}

.filter-value,
.filter-submit {
	font-size: 16px; /*1*/
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.product-item-button {
	font-size: 18px; /*3*/
	line-height: 24px;
	font-weight: bold;
	color: #fefefe;
}

.page-number {
	font-size: 16px; /*1*/
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}